<% request = Request.first %>
<div class="card-product mb-4">
  <img src="<%=request.painting.poster_url%>" />
  <div class="card-product-infos">
    <h2>Your request</h2>
    <h2><strong><%=request.painting.title %></strong></h2>
    <p> ¥<%=request.painting.price %></p>
    <p> Date of submit:</p>
    <p> Rental date:</p>
    <div class="alert alert-dark" role="alert">Pending</div>
    <p>Owner: Alan Von Rich</p>
  </div>
</div>
