
<div class="gallery col-6 ms-3">
  <img  class="photo-1" src="<%= @painting.poster_url %>">
  <img class="photo-2" src="https://deco-roo.com/wp-content/uploads/2022/03/mona-lisa-miyabina01.jpg">
  <img class="photo-3" src="https://cdn.goppion.com/uploads/images/News/_twoThirds/louvre-vetrina-provvisoria-gioconda-jemolo-004.jpg">
  <img class="photo-4" src="https://cdn.goppion.com/uploads/images/News/_twoThirds/louvre-vetrina-provvisoria-gioconda-jemolo-004.jpg">
  <img class="photo-5" src="https://deco-roo.com/wp-content/uploads/2022/03/mona-lisa-miyabina01.jpg">
</div>
