<div class="cards">
  <div class="card-trip">
    <% @paintings.each do |painting| %>
      <%= painting.poster_url, alt: painting.title, width: 200 %>
      <div class="card-trip-infos">
        <div>
          <h2><%= painting.title %></h2>
        </div>
        <p class="card-trip-pricing"><%= painting.price %></p>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    <% end %>
  </div>
</div>
