<div class="cards">
  <div class="card-trip">
    <% @paintings.each do |painting| %>
      <%= image_tag painting.poster_url, alt: painting.title, width: 200 %>
      <div class="card-trip-infos">
        <div>
          <h2><%= painting.title %></h2>
        </div>
        <p class="card-trip-pricing"><%= painting.price %></p>
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1688041076/wvtatzin7y9gpa4tdjsn.jpg" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
