.gallery {
  overflow: hidden;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  padding:10px;
  // height: 480px;
}

// .grid-card {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-gap: 16px;
// }
.gallery .card-product-infos {
  padding: 16px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // grid-template-rows: repeat(3, 1fr);
  grid-template-rows: 150px, 100px, 100px;
  grid-gap: 16px;

  img {
    width: 100%;
    object-fit: cover;
  }

  img:not(.photo-1) {
    height: 100%;
  }

  .photo-1 {
    grid-area: 1 / 1 / 2 / 3;
    height: 480px;
  }
  .photo-2 { grid-area: 2 / 1 / 3 / 2; }
  .photo-3 { grid-area: 2 / 2 / 3 / 3; }
  .photo-4 { grid-area: 3 / 1 / 4 / 2; }
  .photo-5 { grid-area: 3 / 2 / 4 / 3; }
}
