.card-product {
  overflow: hidden;
  border-radius: 5px;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  position: relative;
  // width: 500px;
}

.card-product img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 18px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.alert {
  position: absolute;
  right: 15px;
  transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
